<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <a href="/" class="link-logo">
                <img src="/images/logo-mercado-liebre.svg" class="logo">
            </a>
            <div class="form">
                <form action="#" method="get">
                    <button type="submit" value="" class="boton-sb">
                        <input type="text" name="search-bar" id="search-bar" class="campo-busqueda" placeholder="Buscar productos, marcas y más" required>
                        <i class="fa-solid fa-magnifying-glass lupa"></i>
                    </button>
                </form>                
            </div>
            <div class="anuncio">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        <div class="menu">
            <a href="#" class="burger-menu">
                <i class="fa-solid fa-bars"></i></button>
            </a>
        </div>

        <nav class="main-navbar">
            <ul type="none" class="left-navbar">
                <li><a href='#'>Ofertas</a></li>
                <li><a href='#'>Tiendas Oficiales</a></li>
                <li><a href='#'>Vender</a></li>
                <li><a href='#'>Ayuda</a></li>
            </ul>
            <ul type="none" class="right-navbar">
                <li><a href='/register'>Creá tu cuenta </a>
                    <i class="fa-solid fa-id-card"></i>
                </li>
                <li><a href='/login'>Ingresá </a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li><a href='#'>Mis compras </a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner MercadoLiebre">
    </section>
    <div class="formulario">
        <form action="/" method="get" class="formulario-registro">
            <p>
                <label>Nombre y apellido</label>
                <input type="text" name="nombre" id="nombre" class="campo-texto" placeholder="Ingrese nombre y apellido" required>
            </p>
            <p>
                <label>Nombre de usuario</label>
                <input type="text" name="nombre-usuario" id="nombre-usuario" class="campo-texto" placeholder="Ingrese nombre de usuario" required>
            </p>
            <p>
                <label>Correo electrónico</label>
                <input type="email" name="email" id="email" class="campo-texto" placeholder="Ingrese E-mail" required>
            </p>
            <p>
                <label>Fecha de nacimiento</label>
                <input type="date" name="fecha-nacimiento" required>
            </p>

            <p>
                <label>Domicilio</label>
                <input type="text" name="domicilio" id="domicilio" class="campo-texto" placeholder="Ingrese su domicilio" required>
            </p>
            <p>
                <label>Perfil de usuario</label>
            <div class="seleccion">
                <input type="radio" name="perfil" value="comprador">
                <label for="comprador">Comprador</label>
                <input type="radio" name="perfil" value="vendedor">
                <label for="vendedor">Vendedor</label>
            </div>

            </p>
            <p>
                <label>Categorías de interés</label>
            <div class="seleccion">
                <p>
                    <input type="checkbox" name="interes" value="electro">
                    <label for="electro">Electro</label>
                </p>
                <p>
                    <input type="checkbox" name="interes" value="moda">
                    <label for="moda">Moda</label>
                </p>
                <p>
                    <input type="checkbox" name="interes" value="hogar">
                    <label for="hogar">Hogar</label>
                </p>
                <p>
                    <input type="checkbox" name="interes" value="jugueteria">
                    <label for="jugueteria">Juguetería</label>
                </p>
                <p>
                    <input type="checkbox" name="interes" value="vida-sana">
                    <label for="vida-sana">Vida sana</label>
                </p>  
            </div>
            </p>
            <p>
                <label>Foto de perfil</label>
                <input type="file" name="avatar" accept=".jpg" required>
            </p>
            <p>
                <label>Ingrese su contraseña</label>
                <input type="password" name="password" id="password" class="campo-texto"  required>
            </p>
            <p>
                <label>Confirme su contraseña</label>
                <input type="password" name="password-confirm" id="password" class="campo-texto"  required>
            </p>
            <p class="botones-registro">
                <button type="reset" class="boton-formulario">Borrar</button>
                <a href="/">
                    <button type="submit" class="boton-formulario">Enviar</button>
                </a>
            </p>
        </form>

    </div>
</body>

<footer>
    <section>
        <i class="fa-solid fa-credit-card"></i>
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!
        </p>
    </section>
    <section>
        <i class="fa-solid fa-gift"></i>
        <p><strong>Envío gratis desde $ 2.500</strong></p>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.
        </p>
    </section>
    <section>
        <i class="fa-solid fa-user-shield"></i>
        <p><strong>Seguridad, de principio a fin</strong></p>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegid@.
        </p>
    </section>
    <section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>

</html>