*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* HEADER */

header {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
}
.logo {
    padding: 20px;
}
/*atributos de la barra de busqueda */
header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}
/*----------------------------------*/
p {
    font-size: 12px;
}
p.anuncio {
    text-align: center;
    font-size: 16px;
}
h2 {
    font-size: 24px;
}
.burger-menu {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto; 
    margin-bottom: 5px;
}
.main-navbar {
    display: none;
} 
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.banner {
    width: 100vw;
    margin-top: 10px;
}

/* MAIN */
body {
    background-color: #ebebeb;
}
.contenedor-productos {
    display: flex;
    flex-direction: column;
}
.producto {
    margin: 10px;
    box-shadow: none;
    background-color: white;
}
.producto img {
    width: 100%;
}
/* para poder ubicar el icono como nos piden, debemos usar
position: relative en el contenedor padre, para poder usar 
position: absolute en el hijo (el icono en si) */
.caracteristicas {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}
.caracteristicas i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
/*
.caracteristicas .fa-solid, .fas{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #0ccc36;
    padding-top: 10px;
    text-align: center;
}
.circulo{
    border: solid 1px #0ccc36;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
*/
.precio {
    font-size: 18px;
}
.descuento {
    font-size: 16px;
    color: #0ccc36;
}
.descripcion {
    font-size: 16px;
    display: none;
}


/* FOOTER  */

footer {
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
}
footer .fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 10px;
    color: #0044aa;
}

/* navegacion en tablets: */
@media (min-width: 361px){
    .descripcion {
        display: block;
    }
    .producto {
        box-shadow : 0px 0px 10px rgb(100,100,100 );
        width: 48%;
        margin: 3px;
    }
    .main-navbar {
        display: block;
    } 
    button.menu{
        display: none;
    }
    .contenedor-productos {
        flex-flow: row wrap;
        justify-content: space-around;
    }

}
/* navegacion en escritorio: */
@media (min-width: 769px){
    .contenedor-productos {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .producto {
        max-width: 24%;
    }
}